.p {
width: 700px;
height: 1000px;
 border: 1px solid black;
 border-radius: 10%;
  left: 400px;
  position: relative;
  background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    white-space: pre-line;
    border-radius: 15px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 15%;
    position: absolute;
}

.h1{
position:absolute;
left: 50%;
width: 200px;
height: 400px;
text-align: center;
top: 6%;
transform: translate(-50%);
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: blue;
}
.madiv{
width: 700px;
height: 10px;
 background-color: white; 
  top: 18%;
  position: relative;
}
.linkor{
width: 700px;
height: 10px;
 background-color: white; 
  top: 30%;
  position: relative;
}
.pic{
width: 700px;
top: 350px;
position: absolute
}
h2{
position:absolute;
left: 52%;
width: 100%;
top: 90%;
transform: translate(-50%);
font-family: 'Times New Roman', Times, serif;
color:green;
}
.back {
background-image:url('classroom-desk-school-supplies-chalkboard-filled-colorful-open-laptop-illustrating-return-to-322931723.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.A{
position:absolute;
left: 52%;
width: 100%;
top: 93%;
transform: translate(-50%);
font-family: 'Times New Roman', Times, serif;
color:red;
}
.link{
width: 1450px;
height: 25px;
 border: 1px solid black;
 border-radius: 10%;
  position: relative;
  background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 15px;
    color: white;
}
.btn {
    text-decoration: none;      
    color: white;
    cursor: pointer;               
    background: black;          
    padding: 10px 20px;         
    border-radius: 10px;        
    display: inline-block;      
    transition: 0.3s;
        
       
}
.btn:hover {
    background: red;
transform: scale(1.03);
}
.badiv{
width: 600px;
height: 850px;
 border: 1px solid black;
 border-radius: 10%;
  left: 400px;
  position: relative;
  background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 15px;
    color: white;
    top: 100px;}
.pody{
 background-image:url('pngtree-educational-essentials-3d-school-desk-and-learning-tools-picture-image_3894408.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
.g8{
 width: 1450px;
height: 25px;
 border: 1px solid black;
 border-radius: 10%;
  position: relative;
  background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 15px;
    color: white; 
}
.asso{
 background-image:url('876536.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
.choices{
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.choice{
  color: black;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
}
.result{
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.question{
  color: black;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.A3{
position:absolute;
left: 100%;
width: 100%;
top: 93%;
transform: translate(-50%);
font-family: 'Times New Roman', Times, serif;
color:red;
}
